RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond $1 !^(images|css|js)
RewriteRule ^(.*)$ index.php [L]
RewriteRule ^css/(.*)$ web\/css\/$1 [L,NC,QSA]
RewriteRule ^images\/(.*) web/images/$1 [L,QSA]
RewriteRule ^js/(.*)$ web\/js\/$1 [L,NC,QSA]

#RewriteRule .* index.php [L,QSA]
