.link-grid a {
  /*color: #992440;*/
  color:#A51C30;
}
h4 {
    font-size: 22px;
    color:#999;
    text-transform: uppercase;
    border-bottom:1px #eee solid;
    padding-bottom:3px;
    font-family: 'Roboto', "Helvetica Neue",Helvetica,Arial, sans-serif;
    font-weight:400;
}

.search-results {
	display:none;
}

#search-results-back {
	display:block;
	margin-left:16px;
	margin-top:8px;
}

#search-results-back .glyphicon {
	top:2px;
}

.search-results p {
    font-size:16px;
    max-width:640px;
    padding: 5px 0px;
    font-weight:400;
    color:#555;
    line-height:1.4em;
}

.more-homepage-results {
	text-transform:uppercase;
}

.subject-list h3 {
	margin-left:16px;
}

.form-inline .form-group input {
    width:325px;
}

.link-grid {
	margin-top:25px;
}

.link-grid a {
	display:block;
	height:175px;
	font-size:24px;
	border: 2px solid;
	border-radius: 2px;
	margin-top:15px;
	padding:18px 14px;
}

.link-grid li {
	font-size:16px;
}

a.link-grid-1 {
	border-color: #293352;
	color:#293352;
}

a.link-grid-2 {
	border-color: #A51C30;
	color:#A51C30;
}

a.link-grid-3 {
	border-color: #52854C;
	color:#52854C;
}

a.link-grid-4 {
	border-color: #C4961A;
	color:#C4961A;
}

a.link-grid-5 {
	border-color: #4E84C4;
	color:#4E84C4;
}

a.link-grid-6 {
	border-color: #D16103;
	color:#D16103;
}

a.link-grid-1c {
	border-color: #293352;
	color:#293352;
	background-color:#dfe3ef;
	border:none;
}

a.link-grid-2c {
	border-color: #4E84C4;
	color:#4E84C4;
	background-color:#dae5f3;
	border:none;
}

a.link-grid-3c {
	border-color: #52854C;
	color:#52854C;
	background-color:#e3eee2;
	border:none;
}

a.link-grid-4c {
	border-color: #C4961A;
	color:#C4961A;
	background-color:#fbf4e2;
	border:none;
}

a.link-grid-5c {
	border-color: #8C8179;
	color:#8C8179;
	background-color:#f2f1f0;
	border:none;
}

a.link-grid-6c {
	border-color: #D16103;
	color:#D16103;
	background-color:#fff1e5;
	border:none;
}

#iframe_d4979a4515b160d7ae6542c733634aeb {
	width:100%;
}

#lci_chat_load, #la_widget {
	width:100% !important;
	height:365px !important;
}

#la_widget #la_topselect {
	width:100%;
}

#libchat_inline_widget {
	margin-top:15px;
}

#libchat_inline_widget h3.lci_h3 {
	font-size:24px;
	font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#8C8179 !important;
	font-weight:500 !important;
	margin-top:0px;
}

#la_widget {
	padding:18px 14px !important;
}

#la_widget #la_qformbutton {
	background-color:#fff !important;
	border-color:#eee !important;
	color:#333 !important;
	font-weight:500 !important;
	margin-top:8px;
	float:right;
	font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#la_topbutton {
	font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
background-color:#fff !important;
	border:1px solid #eee !important;
	color:#333 !important;
	margin-top:8px;
	float:right;
font-size:14px;
border-radius: 4px;
padding:6px 12px;
height:100%;
font-weight:500 !important;
}

#la_widget #la_topdiv {
	float:left;
	margin-top:25px !important;
}

.lci_chat_load {
	border: 2px solid #8C8179 !important;
	border-radius: 2px !important;
	background-color:#ffffff !important;
}

#la_qentry {
	display: block;
width: 100% !important;
height: 34px !important;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857;
color: #555;
background-color: #FFF;
background-image: none;
border: 1px solid #CCC;
border-radius: 4px;
}

@media (min-width: 768px) {

	.form-inline .form-group input {
    	width:675px;
	}
}

.search-results .results-container {
	margin-top:35px;
}

.subject-list {
	display:none;
}

.homepage-feedback {
	margin-top:35px;
	margin-bottom:25px;
}

/* SPINNER */
@-moz-keyframes throbber-loader {
  0% {
    background: #f6cad0;
  }
  10% {
    background: #A51C30;
  }
  40% {
    background: #f6cad0;
  }
}
@-webkit-keyframes throbber-loader {
  0% {
    background: #f6cad0;
  }
  10% {
    background: #A51C30;
  }
  40% {
    background: #f6cad0;
  }
}
@keyframes throbber-loader {
  0% {
    background: #f6cad0;
  }
  10% {
    background: #A51C30;
  }
  40% {
    background: #f6cad0;
  }
}
/* :not(:required) hides these rules from IE9 and below */
.throbber-loader:not(:required) {
  -moz-animation: throbber-loader 2000ms 300ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 300ms infinite ease-out;
  animation: throbber-loader 2000ms 300ms infinite ease-out;
  background: #f6cad0;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 0.9em;
  height: 1.5em;
  margin: 0 1.6em;
}
.throbber-loader:not(:required):before, .throbber-loader:not(:required):after {
  background: #f6cad0;
  content: '\x200B';
  display: inline-block;
  width: 0.9em;
  height: 1.5em;
  position: absolute;
  top: 0;
}
.throbber-loader:not(:required):before {
  -moz-animation: throbber-loader 2000ms 150ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 150ms infinite ease-out;
  animation: throbber-loader 2000ms 150ms infinite ease-out;
  left: -1.6em;
}
.throbber-loader:not(:required):after {
  -moz-animation: throbber-loader 2000ms 450ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 450ms infinite ease-out;
  animation: throbber-loader 2000ms 450ms infinite ease-out;
  right: -1.6em;
}

.throbber-loader, .throbber-loader:not(:required) {
	display:none;
}
