body {
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: 'Open Sans', "Helvetica Neue",Helvetica,Arial, sans-serif;
    line-height:1.42857143;
    color:#444;
    font-size:18px;
    padding:0 5px;
}

a:link, a:visited {
  /*color: #992440;*/
  color:#A51C30;
}

a:hover {
    text-decoration:none;
    color:#b42a4c;
    border-bottom:border-bottom:1px solid #791523;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', "Helvetica Neue",Helvetica,Arial, sans-serif;
}

h1#s-lc-public-app-pt, h1#s-lc-public-header-title {
	font-size:24px;
}

.hl-header {
    display:none;
}

.navbar {
    min-height:30px;
    margin-bottom:0px;
}

.navbar-toggle {
    margin-right:0px;
}

.facelift-signature {
    margin-top:10px;
    margin-bottom:10px;
}

.facelift-signature h1 a {
  display:block;
  margin-top: 0px;
  /*color:#293352;*/
  color:#666;
}

.facelift-signature h1 {
    text-transform:uppercase;
    font-size:14px;
    font-family:Georgia, Helvetica, Arial, sans-serif;
    margin-top:4px;
}

.facelift-header h1 small {
    color:#666;
    margin-top:4px;
    display:block;
    font-size:12px;
}

.navbar-toggle {
    border:1px solid #ccc;
    padding:6px 12px;
}

.facelift-links {
    margin-right:5px;
    margin-top:12px;
    border-top: 1px solid #eee;
    padding-top:8px;
}

.facelift-links a {
    color:#555;
    font-size:13px;
    display:block;
    margin-bottom:12px;
}

.facelift-links a:hover {
    color:#b42a4c;
}

.facelift-links a.facelift-ask-link {
    display:block;
    margin-top:15px;
}

.facelift-signature img {
    height:50px;
    display:block;
    float:left;
    margin-right:7px;
    margin-top:0px;
}

#s-lc-public-bc {
	display:none;
}

@media (min-width: 768px) {
    .facelift-header h1 small {
        font-size:18px;
    }
    
    .facelift-links a {
        display:inline-block;
        margin:0 8px;
    }
    
    .facelift-links {
        float:right;
        padding-top:0px;
        border:0;
    }
    
    body {
        padding-right:15px;
        padding-left:15px;
    }
    #s-lc-public-footer {
    	margin-top:75px;
    }
}

@media (min-width: 992px) {
	.guide-menu-container {
		display:none;
	}
    .facelift-signature h1 {
        font-size:24px;
    }
    
    .facelift-signature img {
        margin-top:5px;
    }
    
    .facelift-signature {
        float:left;
    }
    
    .facelift-signature h1 {
        float:left;
    }
}

.s-lc-box-title h2 {
    font-size: 18px;
    color: #999;
    text-transform: uppercase;
    border-bottom: 1px #eee solid;
    padding-bottom: 3px;
    font-family: 'Roboto', "Helvetica Neue",Helvetica,Arial, sans-serif;
    font-weight: 400;
    margin-bottom:15px;
}

.s-lc-box-content, .s-lc-box-title {
	padding:0;
}

.s-lc-box-container, .s-lc-box-title {
	border:none;
}

.s-lc-color-bars {
	background-image:none;
	background:none;
}

#s-lc-app-dp {
	font-size:13px;
}

#s-lc-app-timeh {
	text-align: left;
}

#s-lc-app-twell {
	font-size:16px;
}	

#s-lc-app-twell .dl-horizontal .pull-right {
	font-size:13px;
}

#s-lc-public-footer {
	font-size:13px;
}
