body{
	font-size:75%;
	font-family:Arial, Verdana, sans-serif;
	background:#fff;
	color:#333;
}

.print-map {
  position:relative;
  display:inline;
  z-index:2;
}

.map {
  position:relative;
  z-index:3;
}

.map span {
	/*background-color: #eee;*/
	display:block;
	float:left;
}

.clear {
  clear:both;
}
